<!-- Environment Management Panel -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Target Environments</h3>
    </div>
    <div class="panel-body">
        <!-- Add Environment Form -->
        <form class="form-inline" ng-submit="addEnvironment()">
            <div class="form-group">
                <label for="new-environment-name">Environment Name</label>
                <input type="text" class="form-control" id="new-environment-name" ng-model="newEnvironment.name">
            </div>
            <button type="submit" class="btn btn-primary">Add Environment</button>
        </form>

        <hr>

        <!-- Environment Table -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Environment Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="environment in environments">
                    <td>
                        <span ng-hide="editing[environment.environmentId]">{{environment.environmentName}}</span>
                        <input type="text" class="form-control" ng-show="editing[environment.environmentId]" ng-model="environment.environmentName">
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-hide="editing[environment.environmentId]" ng-click="editEnvironment(environment)">Edit</button>
                        <button type="button" class="btn btn-success" ng-show="editing[environment.environmentId]" ng-click="saveEnvironment(environment)">Save</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteEnvironment(environment)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
