<!-- Target Environment -->
<div class="form-group">
    <label for="target-environment">Target Environment</label>
    <select class="form-control" id="target-environment" ng-model="request.environment"
            ng-options="environment.name for environment in environments track by environment.id">
    </select>
</div>

<!-- Reason for Request -->
<div class="form-group">
    <label for="reason">Reason for Request</label>
    <textarea class="form-control" id="reason" ng-model="request.reason" rows="5"
              uib-typeahead="reason for reason in getPastReasons($viewValue)"
              typeahead-loading="loadingLocations"
              typeahead-no-results="noResults">
    </textarea>
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>

<!-- Estimated Time -->
<div class="form-group">
    <label for="estimated-time">Estimated Time (in minutes)</label>
    <input type="number" class="form-control" id="estimated-time" ng-model="request.time">
</div>
