<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.guacamole.requestaccess.db.ReasonMapper">

    <select id="select" resultType="java.lang.String">
        SELECT DISTINCT
            reason
        FROM
            guacamole_request
        WHERE
            user_id = (
                SELECT user_id FROM guacamole_user WHERE username = #{user.username}
            )
            AND reason LIKE CONCAT('%', #{contains}, '%')
        ORDER BY
            reason
    </select>

</mapper>
